<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Производитель</th>
            <th scope="col">Модель</th>
            <th scope="col">Цвет</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.series}"></td>
            <td th:text="${car.color}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>